# --- Core API Framework ---
fastapi==0.110.0
uvicorn[standard]==0.29.0

# --- Environment & Security ---
python-dotenv==1.0.1

# --- Database (Supabase / Postgres) ---
supabase==2.4.3
psycopg2-binary

pytz